[Desktop Entry]
Encoding=UTF-8

Version=1.0
Type=Application
Name=Pulse


Terminal=false
Exec=pulse

Keywords=Weather;News;Utilities;
Comment=Weather and news app for Ubuntu
Categories=Utilities;
